.btn {
  border-radius: 12px;
  text-align: center;
  padding: 10px 12px;
  border: none;
  box-shadow: 2px 2px 2px 0px rgb(126, 124, 126);
  margin-right: 15px;
  background-color: #8c5b96;

  > a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: white;
  }
}

.btn:active {
  transform: translateY(2px);
}

.btn:focus {
  background-color: #48406f;
}
