.header {
  margin: 0;
  box-sizing: border-box;
  background-color: #b3b3b3;
  border-radius: 18px 18px 0 0;
  height: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.content_module {
  background-color: #48406f;
  margin-right: 20px;
}
.content_module:hover {
  background-color: #352f52;
}

.auth_module {
  background-color: #8c5b96;
}
.auth_module:hover {
  background-color: #6d4675;
}
